<h3>Hello, <%=@user.display_name%></h3>
<br/>
<h4>Thank you for registering in our system.</h4>
<br/>
<p>You have registered <%=@user.created_at.to_date%> in our system, with the username: <%=@user.username%>.</p>
<p>To resolve any questions, you can contact us by email at <%=mail_to("contact@mailapp.com")%>.</p>
